@import "_partials/_vars";
@import "_partials/_mixins";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 9999;
  nav {
    overflow: hidden;
    margin: 20px 10px 10px;
    .underline {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: 0;
        background: $theme-gold;
        height: 3.3px;
        transition-property: width;
        transition: 0.3s ease-out;
      }
      &:hover,
      :focus,
      :active {
        &::after {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    .logo-brand {
      margin-left: 15px;
      display: inline-block;
      .logo-cont {
        background: center no-repeat;
        background-size: contain;
        width: auto;
        height: 40px;
      }
    }
    ul {
      float: right;
      margin-right: 26px;
      display: inline-flex;
      list-style: none;
      overflow: hidden;
    }
    li a {
      float: left;
      text-decoration: none;
      font-size: 15px;
      padding: 12px 25px;
      color: $theme-gold;
    }
    .btn {
      padding: 12px 30px;
      @include borderLine($theme-gold);
      background: transparent;
      outline: 0;
      margin-left: 5px;
      border-radius: 2px;
      color: $theme-gold;
      &:focus {
        @include noBoxShadow(none);
        border: 0;
      }
      &:hover {
        @include transition(0.5s);
        background: $theme-gold;
        color: $theme-white;
        border: none;
      }
    }
  }
}

.welcome {
  height: 100vh;
  @include transition(0.5s);
  .buyer {
    width: 50%;
    float: left;
    height: inherit;
    background: $theme-deepgold url("../images/buyerafrica.jpeg") no-repeat center;
    background-size: cover;
    .btn-buyer-cont {
      bottom: 15px;
      position: absolute;
      margin-left: 30px;
      left: 0;
      //@include borderLine($theme-gold);
      .btn {
        padding: 10px 23px;
        background: $theme-gold;
        min-height: 1px;
        border-radius: 50px;
        @include boxShadow(2px, 2px, 3px, $shadowBlack);
        text-decoration: none;
      }
      .btn-buyer {
        @include borderLine(rgba($theme-gold, .4));
        @include transition(0.5s);
        color: $theme-white;
        span {
          position: relative;
          @include transition(0.5s);
          cursor: pointer;
          &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
          }
        }
        &:hover {
          span {
            padding-right: 25px;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        &:hover {
          @include transition(0.5s);
          @include noBoxShadow(none);
        }
      }
    }
  }

  .seller {
    @extend .buyer;
    background: $theme-black url("../images/vendor.jpg") no-repeat center;
    background-size: cover;
    .btn-pos {
      bottom: 15px;
      position: absolute;
      margin-right: 30px;
      right: 0;
      //@include borderLine($theme-gold);
      .btn {
        padding: 10px 23px;
        background: $theme-gold;
        min-height: 1px;
        border-radius: 50px;
        @include boxShadow(2px, 2px, 3px, $shadowBlack);
        text-decoration: none;
      }
      .btn-vendor {
        @include borderLine(rgba($theme-gold, .4));
        @include transition(0.5s);
        color: $theme-white;
        span {
          position: relative;
          @include transition(0.5s);
          cursor: pointer;
          &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
          }
        }
        &:hover {
          span {
            padding-right: 25px;
            &:after {
              animation: slideInRight 0.5s linear;
              opacity: 1;
              right: 0;
            }
          }
        }
        &:hover {
          @include transition(0.5s);
          @include noBoxShadow(none);
        }
      }
    }
  }

  .center-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 46%;
    right: 50%;
    background: $theme-white;
    z-index: 9999;
    @include borderLine($theme-white);
    @include transition(0.5s);
    @include boxFullShadow($shadowBlack, 0, 0, 7px, 2px);
    img {
      animation: rotate-logo 3s linear infinite;
      background-size: contain;
      background: no-repeat center;
      width: 100%;
    }
  }
}

.designerHome {
  height: 100vh;
  .rightContainer {
    width: 65%;
    background: url("../images/designerBanner.jpeg") no-repeat center;
    background-size: cover;
    height: inherit;
    display: inline-block;
    .inner-content {
      position: relative;
      margin: 14em 3em 0;
      padding: 10px;
      text-align: left;
      h3 {
        font-size: 3.6em;
        text-transform: uppercase;
        color: $theme-gold;
        margin-bottom: 0;
        font-weight: lighter;
      }
      h4 {
        font-size: 1.6em;
        text-transform: capitalize;
        color: $theme-white;
      }
    }
  }
  .registerCorner {
    height: inherit;
    width: 35%;
    float: right;
    background: $theme-white;
    .form-container {
      padding: 10px;
      .img-holder {
        width: 35%;
        margin: 10px auto 5px;
        img {
          width: auto;
          height: 40px;
        }
      }
      .login-form {
        margin: 6em 30px 0;
        label {
          font-weight: lighter;
        }
        .btn {
          border-radius: 50px;
          padding: .6em 1.4em;
          outline: none;
          @include noBoxShadow(none);
        }
        .btn-login-wawooh {
          background: $theme-gold;
          color: $theme-white;
          font-weight: 400;
          letter-spacing: 1px;
          &:hover {
            background: $theme-deepgold;
          }
        }
        .form-control {
          border-radius: 0;
          @include noBoxShadow(none);
          padding: 1.5em 1em;
          border: none;
          border-bottom: 1px solid rgba($theme-gold, .4);
          background: $theme-white;
          top: 0;
          position: relative;
          left: 0;
          z-index: 1;
          transition: padding-top 0.2s ease, margin-top 0.2s ease;
          overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
          &:focus {
            @include noBoxShadow(none);
            color: $theme-gold;
            outline: none;
          }
        }
        .input-group-addon {
          background: transparent;
          border: none;
          border-radius: 0;
          color: $theme-gold !important;
          border-bottom: 1px solid rgba($theme-gold, .4);
        }
        .l-image {
          //position: absolute;
          width: 20px;
          height: 20px;
          bottom: 43%;
          display: none;
          margin-left: 10px;
        }
        .forgetPwd {
          padding-left: 13px;
          padding-top: 10px;
          color: $theme-black;
          &:hover {
            @include transition(0.5s);
            text-decoration: underline;
          }
        }
        .hr-divider {
          text-align: center;
          margin-top: 3em;
          span {
            padding: 10px;
            border-radius: 100px;
            //font-weight: lighter;
            color: $theme-gold;
            background: transparent;
            @include borderLine($theme-gold);
          }
        }
        .quick-register {
          margin-top: 4em;
          overflow: hidden;
          ul {
            list-style: none;
            margin: 0 auto;
            width: 100%;
          }
          li a {
            margin-left: 4px;
            background-position: 25px 0;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            cursor: pointer;
            display: inline-block;
            height: 40px;
            float: left;
            line-height: 40px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            border-radius: 3px;
            outline: rgb(255, 255, 255) none 0;
            padding-left: 10%;
            transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
            @include transition(.3s);
          }
          #facebook-connect {
            background: $facebook url('../images/fb-white.svg') no-repeat scroll 0 0px/30px 40px padding-box border-box;
            //padding-left: 10px;
            &:hover {
              background: $theme-white url('../images/fb-main.svg') no-repeat scroll 0 0px/30px 40px padding-box border-box;
              @include transition(.8s);
              @include borderLine($facebook);
            }
            span {
              box-sizing: border-box;
              color: $theme-white;
              cursor: pointer;
              padding-right: 14px;
              text-align: center;
              text-transform: uppercase;
              border: 0 none rgb(255, 255, 255);
              outline: rgb(255, 255, 255) none 0;
              @include transition(.3s);
            }
            &:hover span {
              color: $facebook;
              @include transition(.3s);
            }
          }
          #google-connect {
            background: $googlePlus url('../images/google-plus-white.png') no-repeat scroll 0 0px/35px 40px padding-box border-box;
            &:hover {
              background: $theme-white url('../images/google-plus.png') no-repeat scroll 0 0px/35px 40px padding-box border-box;
              @include borderLine($googlePlus);
              @include transition(0.3s);
            }
            span {
              box-sizing: border-box;
              color: $theme-white;
              cursor: pointer;
              padding-right: 14px;
              text-align: center;
              text-transform: uppercase;
              border: 0 none rgb(220, 74, 61);
              outline: rgb(255, 255, 255) none 0;
              @include transition(0.4s);
            }
            &:hover {
              span {
                color: $googlePlus;
                @include transition(0.4s);
              }
            }
          }

          #twitter-connect {
            background: $twitter url('../images/twitter-white.png') no-repeat scroll 0 3px/35px 35px padding-box border-box;
            border: 1px solid rgb(85, 172, 238);
            &:hover {
              border-color: rgb(85, 172, 238);
              background: $theme-white url('../images/twitter.png') no-repeat scroll 0 3px/35px 35px padding-box border-box;
              @include transition(0.3s);
            }
            span {
              box-sizing: border-box;
              color: $theme-white;
              cursor: pointer;
              padding-right: 14px;
              text-align: center;
              text-transform: uppercase;
              border: 0 none rgb(220, 74, 61);
              outline: rgb(255, 255, 255) none 0;
              @include transition(0.3s);
            }
            &:hover span {
              color: $twitter;
              @include transition(0.3s);
            }
          }
        }
      }
    }
  }
}

.cover-layer {
  background: $theme-black;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
}

.b-cover {
  background: $theme-white;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
}

.v-cover {
  background: $theme-black;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
}
@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}