<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>
    <div style= "width: 85%; margin: 16px auto 0; border: 1px solid rgba(0,0,0,0.2); height: auto;">
        <div style = "padding: 15px;text-align: center;">
        <img style = "width: 100px; background-size: contain;" src="logo.png" alt="wawooh-logo"></div>
        <div style = "padding: 15px; margin: 15px 10px 0;">
            <h4> Dear <span th:text="${name}"> </span>,</h4>
            <p style = "line-height: 25px; font-size: 1em; color: #333;">
                Thank you for your purchase, your order <b><span th:text="${orderNum}"></span> has been confirmed</b>. 
                <br />
                Here is what to expect: Our Quality Assurance Team will validate item quality and then ship to you within the 72hours. <br />
                Once your order ships, you will receive a confirmation email with your tracking number.

            </p>
            <p style = "line-height: 25px; font-size: 1em; color: #333;">
                Thank you for shopping on Wawooh. If you have any questions contact or call us at 0803**********
            </p>
        </div>
        <div style = "color: #fff;margin-top: 10px; background: #cd9933; padding: 7px; text-align: center;">
            <span>Powered By Wawooh</span>
        </div>
    </div>
</body>

</html>
