<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>
    <div style= "width: 85%; margin: 26px auto 0; border: 1px solid rgba(0,0,0,0.2); height: auto;">
        <div style = "padding: 15px;text-align: center;">
        <img style = "width: 100px; background-size: contain;" src="logo.png" alt="wawooh-logo"></div>
        <div style = "padding: 15px; margin: 15px 10px 0;">
            <h4> Dear <span th:text="${name}"> </span>,</h4>
            <p style = "line-height: 25px; font-size: 1em; color: #333;">
                We are unable to meet your order for Item :<b><span th:text="${productName}"></span></b> at this time as the designer is currently out of stock or over whelmed with orders from many other customers.

            </p>
            <span style = "line-height: 25px; font-size: 1em; color: #333;">
                You may <br/>
                <ul style = "list-style: none;">
                    <li>Please kindly check other retailer’s store for similar designs here</li>
                    <li>Wait and obtain the designer available time</li>
                    <li>Request a refund here</li>
                </ul>
            </span>
            <p style = "line-height: 25px; font-size: 1em; color: #333;">
                We are so sorry for any inconveniences this might cause. For inquiries and any other information,
    please contact 081******** or send us a mail at <span style="color: blue">customercare@wawooh.com</span>
            </p>
        </div>
        <div style = "color: #fff;margin-top: 10px; background: #cd9933; padding: 7px; text-align: center;">
            <span>Powered By Wawooh</span>
        </div>
    </div>
</body>

</html>
