/**
 * Mixins file for W A H O O H
 *
 */

@mixin transition($speed) {
  -webkit-transition: ease all $speed;
  -moz-transition: ease all $speed;
  -ms-transition: ease all $speed;
  -o-transition: ease all $speed;
  transition: ease all $speed;
}

@mixin borderLine($color) {
  border: 1px solid $color;
}

@mixin boxShadow($a, $b, $blur, $color) {
  -webkit-box-shadow: $a $b $blur $color;
  -moz-box-shadow: $a $b $blur $color;
  -o-box-shadow: $a $b $blur $color;
  box-shadow: $a $b $blur $color;
}

@mixin boxFullShadow($s, $d, $blur, $spread, $color) {
  -webkit-box-shadow: $s $d $blur $spread $color;
  -moz-box-shadow: $s $d $blur $spread $color;
  -o-box-shadow: $s $d $blur $spread $color;
  box-shadow: $s $d $blur $spread $color;
}

@mixin noBoxShadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}

@mixin animationSlide($name, $delay) {
  -webkit-animation: $name $delay;
  -o-animation: $name $delay;
  animation: $name $delay;
}

@mixin clientSlide() {
  //@for $i
}

@mixin perspective($val) {
  -webkit-perspective: $val;
  -moz-perspective: $val;
  -o-perspective: $val;
  perspective: $val;
}

@mixin transformStyle() {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin transformX() {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

@mixin backface() {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}